<% 
const images = getImages(); 
%>

<h1 class="page-title-header">
    <%- getPageTitle(page) %>
</h1>


<div id="masonry-container">
    <% images.forEach(function(image) { %>
    <div class="masonry-item">
        <div class="image-container">
            <img src="<%- image.image %>" alt="<%- image.title %>">
            <div class="image-title"><%- image.title %></div>
            <div class="image-description"><%- image.description %></div>
        </div>
    </div>
    <% }); %>
</div>