<% if (theme.home_banner.style === "fixed") { %>
    <style>
        .home-banner-container {
            background: none !important;
        }
        .home-article-item,
        .sidebar-links,
        .sidebar-content,
        a.page-number,
        a.extend,
        .sidebar-links .links:hover,
        .right-bottom-tools,
        footer.footer {
            background-color: var(--background-color-transparent-80) !important;
        }
        .right-bottom-tools:hover,
        a.page-number:hover,
        a.extend:hover {
            background-color: var(--primary-color) !important;
        }
        .site-info,
        .home-article-sticky-label {
            background-color: var(--background-color-transparent-15) !important;
        }
        .home-article-sticky-label {
            backdrop-filter: none !important;
        }
    </style>
    <div class="home-banner-background transition-fade fixed top-0 left-0 w-screen h-screen scale-125 sm:scale-110 box-border will-change-transform bg-cover">
        <img src="<%- url_for(theme.home_banner.image.light) %>" alt="home-banner-background" class="w-full h-full object-cover dark:hidden">
        <img src="<%- url_for(theme.home_banner.image.dark) %>" alt="home-banner-background" class="w-full h-full object-cover hidden dark:block">
    </div>
<% } %>

<div class="home-banner-container flex justify-center items-center transition-fade relative">
    <% if (theme.home_banner.style !== "fixed") {%>
    <div class="home-banner-background transition-fade absolute top-0 left-0 w-screen h-screen scale-125 sm:scale-110 box-border will-change-transform bg-cover">
        <img src="<%- url_for(theme.home_banner.image.light) %>" alt="home-banner-background" class="w-full h-full object-cover dark:hidden">
        <img src="<%- url_for(theme.home_banner.image.dark) %>" alt="home-banner-background" class="w-full h-full object-cover hidden dark:block">
    </div>
    <% } %>

        <!-- Все то что не родное -->
    <div class="adaptive-wrap">
    <!-- Контейнер Последняя статья в верхнем левом углу -->
    <div class="top-left-container">
        <%
        const latestPost = site.posts.sort('date', -1).limit(1).toArray()[0];
        if (latestPost) {
          // Получаем изображение для статьи
          let articleThumbnail = "";
          if (latestPost.cover || latestPost.banner || (latestPost.thumbnail && latestPost.thumbnail !== false)) {
            if (latestPost.thumbnail && latestPost.thumbnail !== null) {
              articleThumbnail = latestPost.thumbnail;
            } else if (latestPost.cover && latestPost.cover.includes("/")) {
              articleThumbnail = latestPost.cover;
            } else if (latestPost.banner && latestPost.banner.includes("/")) {
              articleThumbnail = latestPost.banner;
            } else if (config.marked.postAsset && config.marked.postAsset == true) {
              articleThumbnail = [latestPost.path, latestPost.cover || latestPost.banner].join("/");
            }
          }
        %>
        <div class="latest-post-container">
          <div class="latest-post-card">
            <div class="latest-post-header">
              <h2>Последняя статья</h2>
              <time datetime="<%= latestPost.date.toISOString() %>">
                <%= latestPost.date.format('YYYY-MM-DD') %>
              </time>
            </div>
            
            <% if (latestPost.thumbnail !== false && (latestPost.thumbnail || latestPost.cover || latestPost.banner)) { %>
              <div class="latest-post-thumbnail">
                <a href="<%- url_for(latestPost.path) %>" class="block h-full">
                  <img src="<%- url_for(articleThumbnail) %>" alt="<%= latestPost.title %>" class="w-full h-full object-cover dark:brightness-75 transition-all" />
                </a>
              </div>
            <% } %>
            
            <div class="latest-post-content">
              <h3><a href="<%- url_for(latestPost.path) %>"><%= latestPost.title %></a></h3>
              <div class="latest-post-excerpt">
                <% if (latestPost.excerpt && latestPost.excerpt == "false") { %>
                <% } else if (latestPost.excerpt && latestPost.excerpt !== "false") { %>
                  <%- render(latestPost.excerpt, "markdown") %>
                <% } else { %>
                  <%
                    // Уменьшаем длину описания для компьютерной версии
                    const excerptLength = 80; // Уменьшено с 200 до 80
                  %>
                  <%- truncate(strip_html(latestPost.content), {length: excerptLength}) %>...
                <% } %>
              </div>
            </div>
            <div class="latest-post-footer">
              <div class="latest-post-tags">
                <% if (latestPost.tags && latestPost.tags.length) { %>
                  <% latestPost.tags.each(function(tag){ %>
                    <a href="<%- url_for(tag.path) %>" class="tag"><%= tag.name %></a>
                  <% }); %>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </div>


                <!-- Фиксированный контейнер с важными постами (только для ПК) -->
        <div class="fixed-important-posts-container">
                <div class="important-posts-container">
                    <div class="important-posts-list flex flex-col ">
                        <a href="/collections/top/" class="post-link py-0.5 hover:text-primary-color transition-colors font-bold">• ☕️ [ ПsyЧай от БЭДов/ПcиOрехоБут/Разница ПsyВидов/ОСы ]</a>
                        <a href="/collections/antiversus/" class="post-link py-0.5 hover:text-primary-color transition-colors font-bold">• 🥶 [ Избавляемся от Побочек на Входе и Последствий ]</a>
                        <a href="/collections/muskat-matsis/" class="post-link py-0.5 hover:text-primary-color transition-colors font-bold">• ☘️ [ Муcкaтный орeх / Масло Мaциcа ]</a>
                        <a href="/collections/nzt-nootrop/" class="post-link py-0.5 hover:text-primary-color transition-colors font-bold">• 🧬 [ NZT Ноотроп из фильма Области Тьмы ]</a>
                        <a href="/collections/psymixes-and-etc/" class="post-link py-0.5 hover:text-primary-color transition-colors font-bold">• 🔮 [ ПcиМиксы, Пcилохуaскa, ПcиСома ]</a>
                        <a href="/collections/for-new/" class="post-link py-0.5 hover:text-primary-color transition-colors font-bold">• 🍄 [ НОВИЧКАМ!!! Что такое Тpип? ]</a>
                        <a href="/collections/trip-reports/" class="post-link py-0.5 hover:text-primary-color transition-colors font-bold">• 🟥 [ Тpип-Рeпopты ]</a>
                        <a href="/collections/grow-reports-etc/" class="post-link py-0.5 hover:text-primary-color transition-colors font-bold">• ☔️ [ Гpoв-Peпoрты / Поиск на Полях ]</a>
                        <a href="/collections/razborbi/" class="post-link py-0.5 hover:text-primary-color transition-colors font-bold">• ✏️ [ Разбор LеmonTеk-Рапэ-Зверобой ]</a>
                    </div>
                    <div class="important-posts-footer">
                        <a href="#" class="view-all-link" onclick="togglePosts()">Развернуть</a>
                    </div>
                </div>
            </div>
            
    </div>

    <!-- Всегда показываем наши контейнеры независимо от настроек -->
        <div class="absolute bottom-0.5 flex flex-row justify-between max-w-[1340px] items-center w-full px-8 sm:px-12">
            <!-- Контейнер для текста "внизу сайта самое вкусное" в центре -->
            <div class="center-text-container px-6 py-3 mx-auto bg-gray-300/50 dark:bg-gray-500/40 backdrop-blur-sm border border-white/20 dark:border-gray-500/30 shadow-redefine-flat rounded-full">
                <span class="glow-text">...Внизу Сайта Самое Вкусное...</span>
            </div>
            
            <!-- Правый текстовый контейнер с Telegram -->
            <div class="telegram-container px-6 py-3 ml-4 bg-gray-300/50 dark:bg-gray-500/40 backdrop-blur-sm border border-white/20 dark:border-gray-500/30 shadow-redefine-flat rounded-full">
                <div class="custom-text flex flex-col items-center">
                    <div>Моя Группа в <a href="https://t.me/Nikto_Archive" target="_blank" class="telegram-link">Telegram</a></div>
                    <div><a href="https://t.me/+3b6ahucAN8EzYTNi" target="_blank" class="group-chat-link">Чат Группы</a></div>
                    <div><a href="https://t.me/Nikto_Archivarius" target="_blank" class="personal-link">Обратиться ко мне в ЛС</a></div>
                </div>
            </div>
        </div>
        
        



    
        <!-- Фиксированный видео-контейнер (только для ПК) -->
        <div class="fixed-video-container hide-on-mobile hide-on-scroll">
            <div class="video-container-small bg-gray-300/50 dark:bg-gray-500/40 backdrop-blur-lg border border-white/20 dark:border-gray-500/30 shadow-redefine-flat rounded-xl overflow-hidden cursor-pointer">
                <figure><video id="loopVideo" autoplay muted loop src="/videos/testvideo.mp4">
                    <source src="/videos/testvideo.mp4" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video><figcaption></figcaption></figure>
            </div>
        </div>


    <div class="content mt-8 flex flex-col justify-center items-center transition-fade-down">
        <div class="description flex flex-col justify-center items-center w-screen font-medium text-center"
        <% if (theme.home_banner.custom_font.enable) { %>
             style="font-family: '<%- theme.home_banner.custom_font.family %>', sans-serif; !important;"
                <% } %>
        >
            <%- theme.home_banner.title || theme.style.first_screen.description || config.description %>
            <%# theme.style.first_screen.description is deprecated %>
            <% if (theme.home_banner.subtitle.length !== 0) { %>
                <p><i id="subtitle"></i></p>
            <% } %>
        </div>
        <% if (theme.home_banner.social_links.enable) { %>
            <%
                const flexDirection = theme.home_banner.social_links.style === "reverse" ? "flex-row-reverse" : "flex-row";
                const justify = theme.home_banner.social_links.style === "center" ? "justify-center" : "justify-between";
                const display = theme.home_banner.social_links.style === "center" ? "hidden" : "flex";
            %>
            <div class="absolute bottom-0.5 flex <%- flexDirection %> <%- justify %> max-w-[1340px] items-center w-full px-8 sm:px-12">
                <div class="<%- display %> p-3 bg-gray-300/50 dark:bg-gray-500/40 backdrop-blur-lg border border-white/20 dark:border-gray-500/30 group rounded-full cursor-pointer flex justify-center items-center aspect-square h-full shadow-redefine-flat hover:shadow-redefine-flat-hover transition-shadow" onclick="scrollToMain()" >
                    <i class="fa-solid fa-arrow-down fa-fw fa-lg group-hover:translate-y-1 transition-transform"></i>
                </div>
                <div class="social-contacts px-6 py-3 bg-gray-300/50 dark:bg-gray-500/40 backdrop-blur-lg border border-white/20 dark:border-gray-500/30 shadow-redefine-flat rounded-full flex flex-row gap-3 items-center">
                    <% for (const key in theme.home_banner.social_links.links) { %>
                        <% if(theme.home_banner.social_links.links[key]) { %>
                            <% if(key === 'email') { %>
                                <span class="social-contact-item <%= key %> ">
                                    <a href="mailto:<%- theme.home_banner.social_links.links[key] %>">
                                        <i class="fa-solid fa-fw fa-at fa-lg"></i>
                                    </a>
                                </span>
                            <% } else if(key.includes("fa-")) { %>
                                <span class="social-contact-item">
                                    <a target="_blank" href="<%- theme.home_banner.social_links.links[key] %>">
                                        <i class="<%= key %> fa-fw fa-lg"></i>
                                    </a>
                                </span>
                            <% } else { %>
                                <span class="social-contact-item <%= key %>">
                                    <a target="_blank" href="<%- theme.home_banner.social_links.links[key] %>">
                                        <i class="fa-brands fa-fw fa-lg fa-<%= key %>"></i>
                                    </a>
                                </span>
                            <% } %>
                        <% } %>
                    <% } %>
                    <%
                        let qrs = theme.home_banner.social_links.qrs;
                        let qrCount = 0;
                        for (const key in qrs) {
                            if(qrs[key]) {
                                qrCount++;
                            }
                        }
                    if (qrs && qrCount >= 1) { %>

                        <div class="social-links-divider vertical-separator w-[1px] h-4 bg-third-text-color mx-0.5"></div>

                        <% for (const key in qrs) { %>
                            <% if(qrs[key]) { %>
                                <% if(key.includes("fa-")) { %>
                                    <span class="social-contact-item-qr cursor-pointer group">
                                        <a target="_blank">
                                            <i class="<%= key %> fa-fw fa-lg"></i>
                                            <div class="social-qr-container absolute h-auto bg-background-color-transparent-40 border border-white/20 dark:border-gray-500/30 overflow-hidden rounded-2xl bottom-0 mb-14 right-0 invisible group-hover:visible opacity-0 group-hover:opacity-100 translate-y-0.5 group-hover:translate-y-0 transition-all">
                                                <img class="social-contacts-qr w-64"
                                                     src="<%- url_for(theme.home_banner.social_links.qrs[key]) %>"/>
                                            </div>
                                        </a>
                                    </span>
                                <% } else { %>
                                    <span class="social-contact-item-qr <%= key %> cursor-pointer group">
                                        <a target="_blank">
                                            <i class="fa-brands fa-fw fa-lg fa-<%= key %>"></i>
                                            <div class="social-qr-container absolute h-auto bg-background-color-transparent-40 border border-white/20 dark:border-gray-500/30 overflow-hidden rounded-2xl bottom-0 mb-14 right-0 invisible group-hover:visible opacity-0 group-hover:opacity-100 translate-y-0.5 group-hover:translate-y-0 transition-all">
                                                <img class="social-contacts-qr w-64"
                                                     src="<%- url_for(theme.home_banner.social_links.qrs[key]) %>"/>
                                            </div>
                                        </a>
                                    </span>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
    <script>
        const scrollToMain = ()=> {
            console.log('scroll');
            const target = document.querySelector('.main-content-container');
            target.scrollIntoView({ behavior: 'smooth'});
        }
    </script>
</div>