<div class="article-content markdown-body">
        <article>
	        <section class="is-imageBackgrounded">
	            <figure>
	                <img src="https://psyarchive-test.vercel.app/images/start-head.jpg"/>
	            </figure>
	        </section>
                               <h1>Архив PsyГрибоЭкзотики</h1> 

<% const postList = createNewArchivePosts(posts) %>
<div class="archive-list-container">
  <% postList.forEach(postYear => { %>
    <section class="archive-item mb-spacing-unit last:mb-0">
      <div class="archive-item-header flex flex-row items-center mb-2">
        <span class="archive-year font-semibold text-3xl mr-2"><%= postYear.year %></span>
        <span class="archive-year-post-count text-xs md:text-sm font-bold rounded-small bg-third-background-color py-[2px] px-[10px] border border-border-color"><%= postYear.postList.length %></span>
      </div>
      <% let previousDate = null; %>
      <div class="article-list pl-0 md:pl-8 text-lg leading-[1.5]">
        <% postYear.postList.sort((a, b) => (a.date > b.date ? -1 : (a.date < b.date ? 1 : a.title.localeCompare(b.title)))).forEach(post => { %>
          <% const currentDate = date(post.date, 'MM-DD'); %>
          <% if (previousDate !== currentDate) { %>
            <% if (previousDate) { %>
              </div>
            <% } %>
            <div class="article-item space-y-2 px-6 pt-10 pb-2 text-xl relative border-l-2 border-border-color" date-is='<%= currentDate %>'>
          <% } %>
          <div class="article-post">
            <a href="<%- url_for(post.path) %>" class="block w-fit">
              <span class="article-title-archive my-0.5 text-2xl"><%= post.title %></span>
            </a>
          </div>
          <br>
          <% previousDate = currentDate; %>
        <% }) %>
        </div>
      </div>
    </section>
  <% }) %>
</div>

  </article>
</div>